
.DS_Store
clases/13-Introspeccion/.ipynb_checkpoints/introspection-checkpoint.ipynb
clases/17-Manipulacion-Simbolica/.ipynb_checkpoints/cascara-checkpoint.ipynb
clases/17-Manipulacion-Simbolica/.ipynb_checkpoints/symbolics-checkpoint.ipynb
clases/17-Manipulacion-Simbolica/.ipynb_checkpoints/SymPy_examples-checkpoint.ipynb
.ipynb_checkpoints
